a { text-decoration: none ; }

.pink {
    background: #FF99CC;
}

.purple {
    background: #9999FF;
}

.orange {
    background: #FF8856;
}

.blue {
    background: #75A9FF;
}

.item {
    height: 250px;
}

.skill-content {
    margin-left: 15%;
}

.trim {
    overflow: hidden;
    width: 200px;/* トリミングしたい枠の幅 */
    height: 200px;/* トリミングしたい枠の高さ */
    position: relative;
}

.trim img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }

#about .profile-img {
    background-image: url("../images/profile_img.png");
    width:  250px;
    height: 250px;
    border-radius: 50%;
    background-position: left top;
}

@media screen and (max-width:990px) { 
    .skill-content {
        margin-left: 0%;
    }
}